# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Models & datasets (large files - optional)
*.joblib
*.csv
data/
Data/
